<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>QR CODE</h1>
    <img
      src="data:image/jpeg;base64,{{ base64_image }}"
      alt="Base64 Image"
      width="300"
      height="300"
    />
    <br />
    <h2>External Link:</h2>
    <a href="{{ external_link }}" target="_blank"
      >Click here to visit the link</a
    >
  </body>
</html>
